/*
 * Copyright: Srivatsan Chari, nth loop, 2012.
 * Bowerbird may be freely distributed under the MIT license.
 */

* { margin: 0; padding: 0; outline: none; -webkit-user-select: none; }

body {
  width: 538px; overflow: hidden;
  font: 11px/1em Lucida Grande, sans-serif; color: #000;
}

body, .wrapper { background-color: #fff; }
  #exporter { position: absolute; z-index: 0; top: 0; left: 0; }


/* Tools Section */
#tools {
  position: fixed; top: 0; left: 0; z-index: 4;
  width: 100%; padding: 0;
  border-bottom: 1px solid #BDBDBD;
  background: -webkit-gradient(linear, left top, left bottom, from(#ECECEC), to(#D9D9D9));
}
  .tool-section { float: left; margin-right: 20px; }

    #tools button {
      height: 25px; padding: 0 6px; border: none; border-right: 1px solid #BDBDBD;
      background-color: transparent;
      font-weight: bold; color: #444; text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
      cursor: pointer;
    }

    #tools button:first-child { border-left: 1px solid #BDBDBD; }
      #hex    { border-left: 0; }
      #labels { border-right: 0; }

    #tools button.selected {
      padding-right: 7px; border-right: 0;
      background-color: rgba(0,0,0,0.2);
      color: #fff; text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.35);
    }

/* buttons with icon labels */

  button.icon  {
    padding: 0;
    background-image: url(images/icons.png); background-repeat: no-repeat;
  }

  #tool-colorTypes button { width: 40px;  }
    #colors { background-position: 0 0; }
    #grays  { background-position: -40px 0; }
    #alphas { background-position: -80px 0; }

  #tool-misc { float: right; margin-right: 0; }
  #tool-misc button { width: 30px; }
    #labels  { background-position: -120px 0; }
    #details { background-position: -150px 0; }
    #export  { background-position: -180px 0; }


/*************** tools section ends ****************/


#noti, #list-wrap { top: 27px; }


/* notification */

#noti {
  display: none; position: absolute; left: 0;
}
  #noti.disappear { -webkit-transition: opacity 0.5s ease-out 2s; opacity: 0; }

/* Colors section */

#list-wrap {
  position: relative; z-index: 2; overflow-y: auto;
  height: 445px; padding: 1px 5px; margin-bottom: 47px;
  background-image: url(images/transparent.png);
  -webkit-box-shadow: 0 5px 5px 5px #fff;
  -webkit-transition: height 300ms ease-in;
}

#content-wrapper .inner {
  height: 0; overflow: hidden; -webkit-transition: height 300ms ease-in; background: #efefef;
}

#thumbs li { position: relative; float: left; margin: 6px 3px; vertical-align: text-top;  }

.thumb, .code { display: block; padding: 5px; cursor: pointer; }
.thumb { width: 155px; height: 70px; border-bottom: inset 5px rgba(0,0,0,0.15); }
.code {
  position: absolute; bottom: 5px; left: 0; width: 155px; overflow: hidden;
  font-family: Helvetica, Arial, Serif; font-weight: bold; text-transform: uppercase; word-spacing: -.1em;
  text-align: left;
}
  .selected .thumb { -webkit-box-shadow: 0 0 8px 2px rgba(200,0,0,0.7); }

  /* hidden labels */
  #thumbs.hideLabels .code { display: none; }

  /* edited colors */
  .edited .thumb { background-image: url(images/corner.png); background-position: top right; background-repeat: no-repeat; }


/* styles while browsing details */

  .detailed #list-wrap { height: 195px; }
  #content-wrapper.detailed .inner { height: 250px; }
  #color-info { position: absolute; z-index: 3; width: 100%; bottom: 0; }

/* end styles while browsing details */


/* details panel */

#ci-title { text-align: right !important; }

#ci-color, #ci-detail { display: inline-block; vertical-align: text-top; margin: 10px; }
#ci-color  { width: 50px; height: 50px; border: 1px solid #fff; outline: 1px #aaa; }
#ci-detail { width: 442px; overflow: hidden; }

#ci-flags span {
  float: right; padding: 5px 5px 6px 6px; margin: 0 0 10px 5px;
  background-color: #aaa;
  font-size: 11px; font-weight: bold; color: #fff;
  -webkit-border-radius: 8px;
}

#ci-code { clear: both; font-size: 14px; font-weight: bold; margin-bottom: 15px; text-transform: uppercase; }


#ci-rules, #ci-norules {
  margin-left: 10px; height: 170px; overflow: hidden; overflow-y: auto; word-wrap: break-word;
}
  .ci-rule {
    position: relative;
    width: 100%; padding-top: 20px; margin-bottom: 10px;
    font-size: 12px; line-height: 1.2em;
  }

  .stylesheet { position: absolute; right: 3px; top: 0; color: #555; }
    .stylesheet a {
      display: block; max-width: 300px; overflow: hidden;
      color: #555; text-decoration: none;
    }
  .selector {  }
  .rule-prop  { margin-right: 5px; color: red; }
  .rule-value { margin-left: 5px; color: #b45800; }

#ci-norules p, #ci-norules ul { font-size: 12px; line-height: 1.1em; margin: 10px; }
#ci-norules ul { padding-left: 20px; }
/* end details panel */


/* Colors' states after messing with tools */



/********************** misc ***********************/

/* styles */

.bar {
  color: #6e6e6e; text-shadow: 0px 1px 0px rgba(255,255,255,0.8);
  border-top: 1px solid #BDBDBD; border-bottom: 1px solid #BDBDBD;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F3F3F3), color-stop(0.05, #F3F3F3), color-stop(0.05, #E6E6E6), to(#D1D1D1));
  padding: 4px; text-align: center;
}

.notification {
  width: 100%; padding: 6px; z-index: 3;
  background: rgba(255,261,148,0.9); opacity: 1;
  text-align: center; font-weight: bold;
}

.list { display: block; list-style: none; }

.ellipsis { text-overflow: ellipsis; word-wrap: break-word; white-space: nowrap; }

/* end styles */

.code, #ci-code, #ci-rules, #exporter { -webkit-user-select: text; }